<h2> Add new post </h2>

<p>
	<form action="/new" method="POST">
		<textarea name="content" class="form-control" rows="6" placeholder="add your post text here" ></textarea>
		<br/>
		<input name="author" class="form-control form-control-sm" type="text" placeholder="Author name" style="width: 250px">


		<br/>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>

</p>




